h1 a {
    color: #FCA205;
}

#alreadypaid {
  border: 2px solid green;
}

body {
  xbackground-image:url("https://vignette.wikia.nocookie.net/phobia/images/a/aa/Snow.jpg/revision/latest/scale-to-width-down/1000?cb=20161109045734");
}

table th {text-align: center}

th.date {width: 14%}
th.associate {width: 14%}
th.status {width: 8%}
th.detailview {width: 9%}
th.writer{width:8%}
th.person_in_charge{width:7%}
th.account_info{width:35%}
th.phone_number{width:13%}

h2.page-title {margin:30px auto 20px}
