h1 a {
    color: #FCA205;
}

#alreadypaid {
  border: 2px solid green;
}

body {
  xbackground-image:url("https://vignette.wikia.nocookie.net/phobia/images/a/aa/Snow.jpg/revision/latest/scale-to-width-down/1000?cb=20161109045734");
}

table th {text-align: center}

th.date {width: 14%}
th.associate {width: 14%}
th.status {width: 8%}
th.detailview {width: 9%}
th.writer{width:8%}
th.person_in_charge{width:7%}
th.account_info{width:35%}
th.phone_number{width:13%}

h2.page-title {margin:30px auto 20px}


form label {width: 170px;vertical-align: top;margin-right: 15px; text-align: right}
form input, select, textarea {width: 300px}
form input[type="checkbox"] {width: auto}
form.formCenterAlign{ margin: auto }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
