{% extends 'dashboard/base.html' %}

{% load humanize %}
{% block content %}


        <h1 class="text-center"><a href="">전체 거래처 목록</a></h1>


        <table class="table table-hover">
          <thead class="table-active">
            <tr>
              <th scope="col">거래처명</th>
              <th scope="col">전화번호</th>
              <th scope="col">담당자/대표자</th>
              <th scope="col">계좌정보</th>
              <th scope="col">주취급품목</th>
              <th scope="col">비고</th>
            </tr>
          </thead>
          <tbody>

          {% for eachAssociate in associate_list %}
              <tr class="table-light">
                  <th scope="row">{{ eachAssociate.name }}</th>
                  <td>{{ eachAssociate.phone_number }}</td>
                  <td>{{ eachAssociate.person_in_charge }}</td>
                  <td>{{ eachAssociate.bank }}/{{ eachAssociate.account_number }}/{{ eachAssociate.bank_owner }}</td>                  
                  <td>{{ eachAssociate.main_items }}</td>
                  <td><a class="btn btn-primary btn-sm" href='{% url 'dashboard:edit_associate' eachAssociate.pk %}' role="button">수정하기</a></td>
                </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}
