{% extends 'dashboard/base.html' %}

{% load humanize %}
{% block content %}

        <h2 class="text-center page-title">전체 품의서 목록 (최근 등록순)</h2>

        <table class="table table-hover table-sm">
          <thead class="table-active">
            <tr>
              <th scope="row" class="date" scope="col">기안일</th>
              <th class="associate" scope="col">공급자</th>
              <th class="total_amount"scope="col">총금액</th>
              <th class="account_info" scope="col">계좌정보</th>
              <th class="status" scope="col">처리상태</th>
              <th class="writer" scope="col">기안인</th>
              <th class="detailview" scope="col">비고</th>
            </tr>
          </thead>
          <tbody>

          {% for eachReport in reports_list %}
              <tr class="table-light">
                <th scope="row">{{ eachReport.created_date.date }}</th>
                <td class="text-center"><a href="{% url 'dashboard:edit_associate' eachReport.associate.pk %}">{{ eachReport.associate }}</a></td>
                <td class="text-right">{{ eachReport.total_amount|intcomma }} 원</td>
                <td class="text-center">{{ eachReport.associate.bank }} / {{ eachReport.associate.account_number }} / {{ eachReport.associate.bank_owner }}</td>
                <td class="text-center">
                  {% if eachReport.completed %}
                    <span class="badge badge-pill badge-success">완료 <br /> {{ eachReport.completed_date.date }}</span>
                  {% else %}
                    <span class="badge badge-pill badge-danger">미처리</span>
                  {% endif %}
                </td>
                <td class="text-center">{{ eachReport.writer.last_name }}{{ eachReport.writer.first_name }}</td>
                <td class="text-center"><a href="{% url 'dashboard:edit_report' eachReport.pk %}">상세보기</td>
              </tr>
          {% endfor %}


        </tbody>
      </table>

{% endblock %}
