{% load staticfiles %}
<!doctype html>
<html lang="ko">
    <head>
        <title>쿠펫 매입 리스트</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?{% now "U" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body>
      <div class="container">
        {% if form.errors %}
            <p>이름과 패스워드를 다시 확인해 주세요.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <div class="row justify-content-md-center" style="margin-top:50px">
              <table>
              <tr>
                  <td>{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
              </tr>
              <tr>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
              </tr>
              </table>
              <input type="submit" value="login" class="btn btn-primary"/>

              <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
      </div>
  </body>
</html>
